#!/bin/bash
#SBATCH --output <jobname>-<run>.out
#SBATCH --job-name <jobname>-<run>
#SBATCH --nodes 1
#SBATCH --ntasks-per-node=24
#SBATCH -t 48:00:00
#SBATCH -p <qname>
#SBATCH -A <account>
#SBATCH --mail-type=ALL
#SBATCH --mail-user=<email>

qname=<qname>
account=<account>
email=<email>

module reset
module load Anaconda3/2020.11
module load gcc/9.2.0

export GMX_MAXBACKUP=-1

SILCSBIODIR="<SILCSBIODIR>"
griddx=1.0
ext=dcd
protmap=<protmap>
batch=<batch>
margin=<margin>
probe=<probe>
begin=<begin>
end=<end>

prot=<prot>
sysname=<sysname>
drudedir=<drudedir>
mapdir=<mapdir>
lig=<lig>
i=<run>
workdir=<workdir>
probe=<probe>

#workdir=/tmp/silcs_2b_map_gen_${pdb}_${i}_`date +%s`
#mkdir -p $workdir
job_status_file="job_${i}_status.log"
echo "0" > "${job_status_file}"

if [[ ! -d maps_frm_runs ]]; then mkdir -p maps_frm_runs ; fi

bundle_maps () {
  # combine multiple maps and simply add them together to produce a single map
  # if third argument is passed, the number will be used to divide the sum
  local mapfiles=$1
  local outfile=$2
  local denorm=${3:-1}
  head -6 `echo $mapfiles | cut -d " " -f1` > $outfile
  paste $mapfiles | awk -v denorm=${denorm} '{ if (NR > 6) { sum=0; for (i=1; i<=NF; i++) sum+=$i; printf "%10.3f\n", (sum/denorm) }}' >> $outfile
}

collate_subset_maps () {
  local drudedir=$1
  local mapdir=$2
  local i=$3
#  local endrun=$4
#  local protmap=$5
  
  totcycles=2000

  #nsnapshots=`echo $totcycles $nframes | awk '{printf "%d\n", $1*$2}'`
  nsnapshots=$totcycles

  ## Collate Maps

  allfragments="$fragments"
  if [[ "$protmap" == true ]]; then
    allfragments="$fragments ala ser thr cys val leu ile met pro phe tyrc tyro trpc trpn asp glu asnn asno glnn glno hsdn hsdn2 hsen hsen2 hsp arg lys"
  fi
  for frag in $(echo $allfragments) ; do

    mapfiles=""
    for j in {10..100..10}; do
       mapfiles="${mapfiles} ${mapdir}/${i}/${sysname}.${frag}.${i}_${j}.map"
    done
    bundle_maps "${mapfiles}" "${mapdir}/maps_frm_runs/${sysname}.${frag}.${i}.map"
  
  done
}


# enter each snapshot directory and create temporary .dcd files
for j in {10..100..10}; do
  trajdir="${drudedir}/${i}/${j}/prod"
  molec=`grep "ATOM" ${drudedir}/1/10/prod/2lwk.1.drude.silcs.10_1.pdb | head -n 1 | tr -s ' '  | cut -d ' ' -f12`
  cd ${trajdir}

  /projects/lemkul_lab/software/infer/bin/catdcd -o temp.dcd ${sysname}.${i}.drude.silcs.${j}_{1..2}.dcd

  # get box vectors - its ugly but it works
  #boxx="`grep "A" a4t14.${i}.drude.silcs.${j}_2.rst | awk {'print $2'} | grep -oP 'x=\K".*"' | sed 's/"//g' | awk '{print $1*10}'`"
  #boxy="`grep "B" a4t14.${i}.drude.silcs.${j}_2.rst | awk {'print $3'} | grep -oP 'y=\K".*"' | sed 's/"//g' | awk '{print $1*10}'`"
  #boxz="`grep "C" a4t14.${i}.drude.silcs.${j}_2.rst | awk {'print $4'} | grep -oP 'z=\K".*"' | sed 's/"//g' | awk '{print $1*10}'

  # edit to appropriate list of modules
  source activate /projects/lemkul_lab/software/infer/silcsbio/2023.1/conda_envs/silcs 

  echo ${molec}

  if [[ -f full_or.dcd ]]; then
    rm full_or.dcd
  fi
  
  if [[ -f ${i}_${j}_or.pdb ]]; then
    rm ${i}_${j}_or.pdb
  fi

  if [[ ${molec} == "PROA" ]]; then
    #merge-traj --centering-selection='all' --fix-imaging 'on' ${sysname}.drude.silcs.xplor.psf full_or.dcd temp.dcd
    merge-traj --centering-selection='segid =~ "PROA"' --fix-imaging='on' ${sysname}.drude.silcs.xplor.psf full_or.dcd temp.dcd
  fi
  
  frame2pdb ${sysname}.drude.silcs.xplor.psf full_or.dcd 1 >${i}_${j}_or.pdb
  rm temp.dcd
done

cd ${workdir}/${mapdir}
#echo `pwd`
## Selection file
if [[ "$probe" == "standard" ]]; then
  fragments="meoo imin iminh foro forn forc dmeo dmec benc prpc swm4o gehc mamn aceo acec"
fi
if [[ "$probe" == "neutral" ]]; then
  fragments="meoo imin iminh foro forn forc dmeo dmec benc prpc swm4o gehc"
fi
if [[ "$probe" == "charged" ]]; then
  fragments="mamn aceo acec swm4o"
fi
if [[ "$probe" == "halogen" ]]; then
  fragments="brbc brbx clbc clbx clec clex fetc fetx flbc flbx tfec tfex dmeo dmec meoo swm4o"
fi


for j in {10..100..10};
do
  trajdir="../2e_run_drude_${probe}/${i}/${j}/prod"

  prodpdb="${trajdir}/${i}_${j}_or.pdb"
  prodtraj="${trajdir}/full_or.dcd"
  prodtop="${trajdir}/${sysname}.drude.silcs.xplor.psf"

  if [[ ! -f $prodpdb ]]; then
     echo "reference PDB file not found: ${prodpdb}"
     exit 0
  fi

  if [[ ! -f $prodtraj ]]; then
     echo "reference PDB file not found: ${prodtraj}"
     exit 0
  fi
  for frag in $(echo $fragments); do
#        echo $frag #$prodpdb $prodtraj
#        echo `pwd`
         /projects/lemkul_lab/software/infer/bin/make_map_direct.o $prodpdb $prodtraj ${SILCSBIODIR}/data/drude_selection/${frag}.txt ../map.${sysname}.prm ${sysname}.${frag}.${i}_${j}.map
	 wait
	 if [[ ! -d ${i} ]]; then
                mkdir ${i}
         fi
	mv ${sysname}.${frag}.${i}_*.map ${i}
  done
done

cd ../

echo "round 1 : combining all ${i} maps"
collate_subset_maps ${drudedir} ${mapdir} $i 

