#!/bin/bash
#SBATCH --output <jobname>-<run>-build.out
#SBATCH --job-name <jobname>-<run>-build
#SBATCH --ntasks 64
#SBATCH --nodes=2
#SBATCH -t 24:00:00
#SBATCH -p <qname>
#SBATCH -A <account>
#SBATCH --mail-type=ALL
#SBATCH --mail-user=<email>

qname=<qname>
account=<account>
email=<email>
sysname=<sysname>
drudedir=<drudedir>
run=<run>
nproc=<nproc>

module reset
module load GCCcore/8.3.0
module load OpenMPI/3.1.4-GCC-8.3.0
module load FFTW/3.3.8-gompi-2020b

export CHARMM=/projects/lemkul_lab/software/infer/charmm/charmm.MPI
#CHARMM=/usr/local/bin/charmm


for j in {10..100..10}; do
    if cd ${drudedir}/${run}/${j}/build ; then
        mpirun -np 64 ${CHARMM} -i write_drude_psf_silcs.inp -o write_drude.out
        wait
    else 
        echo "${drudedir}/${run}/${j}/build does not exist. Maybe you should have thought of that before submitting this script. -Patrick"
    fi
done
